@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply !transition-colors  !duration-500;
}
button {
  @apply !transition-all !duration-250 active:!scale-90;
}
label {
  @apply !transition-all;
}
.success {
  --nextui-primary: 146, 79%, 44%;
}

.secondary {
  --nextui-primary: 270, 59%, 58%;
}

.bg-primary {
  background-color: hsl(var(--nextui-primary)) !important;
}

.border-primary {
  border-color: hsl(var(--nextui-primary)) !important;
  border: 1px solid hsl(var(--nextui-primary));
}

.text-primary {
  color: hsl(var(--nextui-primary)) !important;
}

.pin_input input {
  @apply text-center text-xl sm:text-2xl;
}

.gradient {
  background: linear-gradient(
    hsl(var(--nextui-primary)) 50%,
    hsl(var(--nextui-background)) 50%
  );
}

.theme_dropwdown ul {
  @apply grid grid-cols-3;
}

.checkbox-wrapper-54 {
  height: 2em !important;
  @apply scale-90 sm:scale-95 md:scale-100;
}

.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-54 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.5s;
  border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.5s;
}

.checkbox-wrapper-54 input:checked + .slider,
.slider::before {
  background-color: hsl(var(--nextui-content1));
}

.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: hsl(var(--nextui-content1));
  box-shadow:
    inset -3px -2px 5px -2px hsl(var(--nextui-primary)),
    inset -10px -4px 0 0 hsl(var(--nextui-primary));
}
